# rust
debug/
target/
.embuild/

# python
.venv/
.uv-cache/
**/__pycache__/
training/glove_model.info
training/glove_model_metadata.json
training/glove_model.pt
training/glove_model.json
training/glove_model.onnx
training/glove_model.espdl

processed_data/

# ide
.vscode/
.zed/
.idea/

# macos
**/.DS_Store

.env.local
